{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": 3,
            "targets": {
                "chrome": "76",
                "firefox": "60",
                "opera": "62",
                "edge": "18"
            }
        }],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        ["lodash", { "id": "lodash-compat" }],
        "@babel/plugin-proposal-function-bind",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from",
        "babel-plugin-styled-components"
    ]
}